/*
  1. Static fonts
  
  Most likely these won't be used,
  because most of the modern browsers support variable fonts (https://caniuse.com/variable-fonts)
  which are defined below.

  The static fonts take significant space amount (4.4 MB) comparing to variable ones (468 KB),
  so they're excluded from PWA pre-cache.
  This is the reason they're located at `./public/noprecache` folder,
  which, by default tells `next-pwa` to exclude the contents of it from pre-cache:
  see `publicExcludes` option of https://github.com/shadowwalker/next-pwa#configuration for details.
*/
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-Thin.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-Light.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-LightItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-Italic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-Medium.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-SemiBold.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-Black.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: block;
  src: url("/noprecache/fonts/inter-3.19/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
       url("/noprecache/fonts/inter-3.19/Inter-BlackItalic.woff?v=3.19") format("woff");
}

/* -------------------------------------------------------
  2. Variable fonts
  
  Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/inter-3.19/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/inter-3.19/Inter-italic.var.woff2?v=3.19") format("woff2");
}
